- top_level_categories = @current_community.top_level_categories.reject { |c| c.id == @category.id }
- subcategories = @current_community.subcategories.reject { |c| c.id == @category.id }

- if @category.children.empty? && top_level_categories.size > 0
  .row
    .col-12
      = form.label :parent_id, t(".category_parent")
      = form.select :parent_id, options_for_select([[t(".no_parent"), nil]] +  category_options(top_level_categories,subcategories ) )