.price-container
  = form.label :price, t(".price")
  = form.text_field :half_day_price_cent, :class => "price-field", :maxlength => "10", :placeholder => "0", :value => (@listing.price ? @listing.price.to_s: 0)
  = render partial: "listings/form/currency_selector", locals: {form: form}
  = t(".per_half_day")