@import "mixins/all";
@import "compass/css3/border-radius";

.subcategory-label {
  margin-left: lines(1);
}

.subcategory-of-subcategory-label {
  margin-left: lines(2);
}

.top-level-category-divider-wrapper {
  padding-top: lines(0.25);
  padding-bottom: lines(0.25);
}
.top-level-category-divider {
  background-color: $highlight;
  height: 1px;
}

.listed-category-col {
  margin-bottom: 0;
}

/* category tree format design vivek*/
.edit-delete-pannel{ float :right}
.tree li,
.tree li > a,
.tree li > span {
    padding: 4pt;
    border-radius: 4px;
}

.tree li a {
    color:#a64c5d;
    text-decoration: none;
    line-height: 20pt;
    border-radius: 4px;
}

.tree li a:hover {
    background-color: #a64c5d;
    color: #fff;
}

.active {
    background-color: #34495E;
    color: white;
}

.active a {
    color: #fff;
}

.tree li a.active:hover {
    background-color: #34BC9D;
}
/* For treemenu.js */

.treemenu li {list-style: none;}

.toggler {
    width: 1em;
    height: 1em;
    display: inline-block;
    cursor: default;
    font-size: 0.8em;
    text-align: center;
    padding: 0.1em;
    margin-left: -1.4em;
    margin-right: 0.6em;
    border: 0.1em solid transparent;
    border-radius: 50%;
}

li.tree-opened > .toggler:hover,
li.tree-closed > .toggler:hove {
    border-color: #aaa;
    cursor: pointer;
}

li.tree-empty > .toggler { color: #aaa; }
li.tree-empty > span.toggler:before { content: "\2212"; }
li.tree-closed > span.toggler:before { content: "+"; }
li.tree-opened > span.toggler:before { content: "\2212"; }



